{% extends 'base.html' %}

{% block page_content %}
    <div class="container">

        <h1>Delete Recipe</h1>
        <div class="items-container">
            <div class="item">
                <form method="POST" action="{% url 'recipe_delete' pk=recipe.id %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="button delete" value="Delete">
                </form>
            </div>
        </div>

    </div>

{% endblock %}