{% extends 'base.html' %}

{% block page_content %}
    <div class="container">

        <h1>Edit Recipe</h1>
        <div class="items-container">
            <div class="item">
                <form method="POST" action="{% url 'recipe edit' pk=recipe.id %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="button edit" value="Edit">
                </form>
            </div>
        </div>

    </div>
{% endblock %}