{% extends 'base.html' %}

{% block page_content %}
        <!-- Dashboard Page-->
        <section id="dashboard-page" class="dashboard">
            <h1>Dashboard</h1>

            {% if not books %}
                <p class="no-books">No books in database!</p>
            {% else %}
                <ul class="my-books-list">
                {% for book in books %}
                    <li class="myBooks">

                        <h3>{{ book.title }}.</h3>
                        <p>Type: {{ book.type }}</p>
                        <p class="img"><img src="{{ book.image }}"
                                            alt="{{ book.title }}-image"></p>
                        <a class="button" href="{% url 'book details' pk=book.id %}">Details</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </section>

{% endblock %}
