{% extends 'base.html' %}

{% block page_content %}
        <section id="details-page" class="details">
            <div class="book-information">
                <h3>{{ book.title }}</h3>
                <p class="type">Type: {{ book.type }}</p>
                <p class="img"><img src="{{ book.image }}" alt="{{ book.title }}-image"></p>
                <div class="actions">
                    <a class="button" href="{% url 'book edit' pk=book.id %}">Edit</a>
                    <a class="button" href="{% url 'book delete' pk=book.id %}">Delete</a>
                </div>
            </div>
            <div class="book-description">
                <h3>Description:</h3>
                <p>{{ book.description }}</p>
            </div>
        </section>

{% endblock %}
